---
# tasks file for hoplacloud.nodejs

- name: Add NodeJS repository (version {{ node_version }})
  shell: curl -sL https://deb.nodesource.com/setup_{{ node_version }}.x | sudo -E bash -
  args:
    warn: no

- name: Install nodejs package
  apt:
    name: nodejs
    state: latest
    update_cache: yes
